# Compiled class file
*.class

# IntelliJ's project specific settings files
.idea/

# mMdule settings file created by IntelliJ IDEA
*.iml

# Compiled versions of application files
target/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
